$color-orange: #ffbf52 !default;
$color-orange-hover: #ffd788 !default;
$color-orange-outline: #fef4d9 !default;

$color-dark-orange: #c2664e !default;
$color-dark-orange-hover: #de8a74 !default;
$color-dark-orange-outline: #ffe2bb !default;

$color-green: #30a47a !default;
$color-green-hover: #3dc696 !default;
$color-green-outline: #c0ffe2 !default;

$color-dark-green: #113a29 !default;
$color-dark-green-hover: #235840 !default;
$color-dark-green-outline: #dcf5ee !default;

$color-red: #f55555 !default;
$color-red-hover: #fc6d6d !default;
$color-red-outline: #feb9d0 !default;

$color-white: #fff !default;
